In [2]:
import calendar
import os

import skyfield
from tables import *

import zipfile
from skyfield.sgp4lib import EarthSatellite

In [3]:

class TLE(IsDescription):
    epoch     = Float64Col(pos=0)
    norad_id  = Int64Col(pos=1)
    line_one  = StringCol(80, pos=2)
    line_two  = StringCol(80, pos=3)

h5file = open_file("/mnt/disk100/persist_home/meawoppl/export_test.h5", mode="w", title="TLE Indexable Data")
table = h5file.create_table(h5file.root, 'readout', TLE, "Main Listing")

In [6]:
tle_folder = "/mnt/disk100/data/TLE"
zips = [os.path.join(tle_folder, f) for f in os.listdir(tle_folder)]

In [7]:
entry = table.row

def read_tles_from_zip(path: str) -> int:
    print("Reading:" + path)
    z = zipfile.ZipFile(path)
    name = list(filter(lambda fn: "_MACOSX" not in fn, z.namelist()))[0]
    print(name)
    size = 0

    with zipfile.ZipFile(path) as z:
        with z.open(name) as f:
            while True:
                tle1 = f.readline().decode().strip()
                if not tle1: break
                tle2 = f.readline().decode().strip()
                sat = EarthSatellite(tle1, tle2)
                entry["epoch"] = calendar.timegm(sat.epoch.utc)
                entry["norad_id"] = sat.model.satnum
                entry["line_one"] = tle1
                entry["line_two"] = tle2
                entry.append()
            
                size += 1
                if (size % 100000 == 0):
                    print(table.shape)
                    table.flush()
                # if size > 100: break

In [ ]:
for tlez in sorted(zips): read_tles_from_zip(tlez)
    
print("Done..")
h5file.close()

Reading:/mnt/disk100/data/TLE/tle2004_1of8.txt.zip
tle2004_1of8.txt
(95232,)
(195232,)
(295232,)
(395232,)
(495232,)
(595232,)
(695232,)
(795232,)
(895232,)
(995232,)
(1095232,)
(1195232,)
(1295232,)
(1395232,)
(1495232,)
(1595232,)
(1695232,)
(1795232,)
Reading:/mnt/disk100/data/TLE/tle2004_2of8.txt.zip
tle2004_2of8.txt
(1913088,)
(2011395,)
(2111395,)
(2211395,)
(2311395,)
(2411395,)
(2511395,)
(2611395,)
(2711395,)
(2811395,)
(2911395,)
(3011395,)
(3111395,)
(3211395,)
(3311395,)
(3411395,)
(3511395,)
(3611395,)
(3711395,)
(3811395,)
(3911395,)
(4011395,)
(4111395,)
(4211395,)
(4311395,)
Reading:/mnt/disk100/data/TLE/tle2004_3of8.txt.zip
tle2004_3of8.txt
(4482819,)
(4578768,)
(4678768,)
(4778768,)
(4878768,)
(4978768,)
(5078768,)
(5178768,)
(5278768,)
(5378768,)
(5478768,)
(5578768,)
(5678768,)
(5778768,)
(5878768,)
(5978768,)
(6078768,)
(6178768,)
(6278768,)
(6378768,)
(6478768,)
(6578768,)
(6678768,)
(6778768,)
(6878768,)
Reading:/mnt/disk100/data/TLE/tle2004_4of8.txt.zip
tle2004_4of8.txt
(7008528,)
(7106771,)
(7206771,)
(7306771,)
(7406771,)
(7506771,)
(7606771,)
(7706771,)
(7806771,)
(7906771,)
Reading:/mnt/disk100/data/TLE/tle2004_5of8.txt.zip
tle2004_5of8.txt
(8012723,)
(8107967,)
(8207967,)
(8307967,)
(8407967,)
(8507967,)
(8607967,)
Reading:/mnt/disk100/data/TLE/tle2004_6of8.txt.zip
tle2004_6of8.txt
(8767487,)
(8863322,)
(8963322,)
(9063322,)
(9163322,)
(9263322,)
(9363322,)
(9463322,)
(9563322,)
(9663322,)
(9763322,)
(9863322,)
(9963322,)
(10063322,)
(10163322,)
(10263322,)
(10363322,)
(10463322,)
(10563322,)
(10663322,)
(10763322,)
(10863322,)
(10963322,)
(11063322,)
(11163322,)
(11263322,)
(11363322,)
(11463322,)
(11563322,)
(11663322,)
(11763322,)
(11863322,)
(11963322,)
(12063322,)
(12163322,)
(12263322,)
(12363322,)
(12463322,)
(12563322,)
(12663322,)
(12763322,)
(12863322,)
(12963322,)
(13063322,)
(13163322,)
(13263322,)
(13363322,)
(13463322,)
(13563322,)
(13663322,)
(13763322,)
(13863322,)
(13963322,)
(14063322,)
(14163322,)
(14263322,)
(14363322,)
(14463322,)
(14563322,)
(14663322,)
(14763322,)
(14863322,)
(14963322,)
(15063322,)
(15163322,)
(15263322,)
(15363322,)
(15463322,)
(15563322,)
(15663322,)
(15763322,)
(15863322,)
Reading:/mnt/disk100/data/TLE/tle2004_7of8.txt.zip
tle2004_7of8.txt
(15981178,)
(16076634,)
(16176634,)
(16276634,)
(16376634,)
(16476634,)
(16576634,)
(16676634,)
(16776634,)
(16876634,)
(16976634,)
(17076634,)
(17176634,)
(17276634,)
(17376634,)
(17476634,)
(17576634,)
(17676634,)
(17776634,)
(17876634,)
(17976634,)
(18076634,)
(18176634,)
(18276634,)
(18376634,)
(18476634,)
(18576634,)
(18676634,)
(18776634,)
(18876634,)
(18976634,)
(19076634,)
(19176634,)
(19276634,)
(19376634,)
(19476634,)
(19576634,)
(19676634,)
(19776634,)
(19876634,)
(19976634,)
(20076634,)
(20176634,)
(20276634,)
(20376634,)
(20476634,)
(20576634,)
(20676634,)
(20776634,)
(20876634,)
(20976634,)
(21076634,)
(21176634,)
(21276634,)
(21376634,)
(21476634,)
(21576634,)
(21676634,)
(21776634,)
(21876634,)
(21976634,)
(22076634,)
(22176634,)
(22276634,)
(22376634,)
(22476634,)
(22576634,)
(22676634,)
(22776634,)
(22876634,)
(22976634,)
(23076634,)
(23176634,)
(23276634,)
(23376634,)
(23476634,)
(23576634,)
(23676634,)
(23776634,)
(23876634,)
(23976634,)
(24076634,)
(24176634,)
(24276634,)
(24376634,)
(24476634,)
(24576634,)
(24676634,)
(24776634,)

In [9]:
table.shape

AttributeError: 'Table' object has no attribute 'nrows'

In [22]:
!cd /mnt/disk100/persist_home/meawoppl/

In [26]:
!ptdump export_test.h5

/ (RootGroup) 'Test file'
/readout (Table(2222,)) 'Readout example'

In [14]:
ls

ETL Work.ipynb  export_test.h5  TLE Adventure.ipynb